<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>major</key>
	<dict>
		<key>light</key>
		<string>#169BD5</string>
		<key>dark</key>
		<string>#169BD5</string>
	</dict>
	<key>heavy</key>
	<dict>
		<key>light</key>
		<string>#333333</string>
		<key>dark</key>
		<string>#FFFFFF</string>
	</dict>
	<key>medium</key>
	<dict>
		<key>light</key>
		<string>#7E7E7E</string>
		<key>dark</key>
		<string>#7E7E7E</string>
	</dict>
	<key>light</key>
	<dict>
		<key>light</key>
		<string>#F2F2F7</string>
		<key>dark</key>
		<string>#F2F2F7</string>
	</dict>
	<key>tiny</key>
	<dict>
		<key>light</key>
		<string>#E7E7E7</string>
		<key>dark</key>
		<string>#413F44</string>
	</dict>
	<key>background</key>
	<dict>
		<key>light</key>
		<string>#FFFFFF</string>
		<key>dark</key>
		<string>#292A30100</string>
	</dict>
	<key>focus</key>
	<dict>
		<key>light</key>
		<string>#F22A2A</string>
		<key>dark</key>
		<string>#F22A2A</string>
	</dict>
	<key>attention</key>
	<dict>
		<key>light</key>
		<string>#FFBB00</string>
		<key>dark</key>
		<string>#FFBB00</string>
	</dict>
	<key>highlight</key>
	<dict>
		<key>light</key>
		<string>#FFFFFF</string>
		<key>dark</key>
		<string>#000000</string>
	</dict>
	<key>border</key>
	<dict>
		<key>light</key>
		<string>#F3F3F3</string>
		<key>dark</key>
		<string>#F3F3F3</string>
	</dict>
	<key>disable</key>
	<dict>
		<key>light</key>
		<string>#F0F0F0</string>
		<key>dark</key>
		<string>#F0F0F0</string>
	</dict>
	<key>enable</key>
	<dict>
		<key>light</key>
		<string>#29C74E</string>
		<key>dark</key>
		<string>#29C74E</string>
	</dict>
	<key>divide</key>
	<dict>
		<key>light</key>
		<string>#D3D3D6</string>
		<key>dark</key>
		<string>#D3D3D6</string>
	</dict>
	<key>navibarTint</key>
	<dict>
		<key>light</key>
		<string>#030303</string>
		<key>dark</key>
		<string>#030303</string>
	</dict>
	<key>naviBackground</key>
	<dict>
		<key>light</key>
		<string>#f7f7f6</string>
		<key>dark</key>
		<string>#302f32</string>
	</dict>
	<key>destructive</key>
	<dict>
		<key>light</key>
		<string>#F22A2A</string>
		<key>dark</key>
		<string>#F22A2A</string>
	</dict>
	<key>shadow</key>
	<dict>
		<key>light</key>
		<string>00000040</string>
		<key>dark</key>
		<string>00000040</string>
	</dict>
	<key>progress</key>
	<dict>
		<key>light</key>
		<string>#00AFFF11</string>
		<key>dark</key>
		<string>#00AFFF11</string>
	</dict>
</dict>
</plist>
